body {
	font-family: 'Ubuntu', sans-serif;
	background-image: url('/images/batteries.jpg');
	color: #000;
	margin-bottom: 30px;
}

.top-buffer {
	margin-top: 20px;
}

.text-center {
	text-align: center;
}

#content {
	position: relative;
	top: 70px;
	margin-top: 30px;
}

#notice {
	position: absolute;	
}

@media screen and (max-width: 767px) {
	#notice {
		width: 50%;
	}
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: 1px solid #333;
}

.table > thead > tr > th {
	border-bottom: 2px solid #333;
}

.container-default {
	background-color: rgba(210,210,210,0.55);
	border-radius: 5px;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
	margin-bottom: 45px;
}

#main-tabs {
	border-bottom: none;
}

@media screen and (max-width: 767px) {
	.table-responsive {
		border: none;
		overflow: scroll;
		overflow: auto;
	}
}

.extra-padding {
	padding: 40px;
}

.tooltip {
	width: 110px;
}

#catalog a, #shopping-cart a {
	color: #000;
}

.delete {
	color: #a94442;
}

.modify-cart-amount, .no-borders-button {
	border: 1px solid transparent;
	background-color: transparent !important;
	padding: 0px 4px; 
}

.no-borders-button {
	border: 0px;
}

.top-void {
	padding-top: 10px;
}

.order-title {
	padding: 10px;
	border-top: 2px solid #ddd;
}

li.list-group-item.list-group-item-primary {
	background-color: #D2FFB4;
	color: #597F36;
	border-bottom: 1px solid rgba(150, 170, 60, 0.6);
	border-top: 1px solid rgba(150, 170, 60, 0.6);
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
}

.list-group-item-primary a {
	color: #563;
}

.list-group-item-primary hr {
	border-top: 1px solid rgba(150, 170, 60, 0.6);
}

.default-box {
	color: #000;
	background-color: rgba(255,255,255,0.4);
	margin: 15px 0px 0px 20px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}