body {
  font-family: "Ubuntu", sans-serif;
  background-image: url("/images/batteries.jpg");
  color: #000;
  margin-bottom: 30px; }

.top-buffer {
  margin-top: 20px; }

.text-center {
  text-align: center; }

#content {
  position: relative;
  top: 70px;
  margin-top: 30px; }

#notice {
  position: absolute; }

@media screen and (max-width: 767px) {
  #notice {
    width: 50%; } }
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid #333; }
.table > thead > tr > th {
  border-bottom: 2px solid #333; }

.container-default {
  background-color: rgba(210, 210, 210, 0.55);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 45px; }

#main-tabs {
  border-bottom: none; }

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none;
    overflow: scroll;
    overflow: auto; } }
.extra-padding {
  padding: 40px; }

.tooltip {
  width: 110px; }

#catalog a, #shopping-cart a {
  color: #000; }

.modify-cart-amount, .no-borders-button {
  border: 1px solid transparent;
  background-color: transparent !important;
  padding: 0px 4px;
  border: 0px; }

.modify-cart-amount:hover {
  border: 0px;
  color: #000; }

.no-borders-button {
  border: 0px; }
  .no-borders-button:hover {
    border: 0px;
    color: #000; }

.top-void {
  padding-top: 10px; }

.bottom-void {
  padding-bottom: 10px; }

.order-title {
  padding: 10px;
  border-top: 2px solid #ddd; }

li.list-group-item.list-group-item-primary {
  background-color: #D2FFB4;
  color: #597F36;
  border-bottom: 1px solid rgba(150, 170, 60, 0.6);
  border-top: 1px solid rgba(150, 170, 60, 0.6);
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px; }

.list-group-item-primary a {
  color: #563; }
.list-group-item-primary hr {
  border-top: 1px solid rgba(150, 170, 60, 0.6); }

li.list-group-item.list-group-item-success {
  background-color: #A3D667;
  color: #597F36;
  border-bottom: 1px solid rgba(150, 170, 60, 0.6);
  border-top: 1px solid rgba(150, 170, 60, 0.6);
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px; }

.list-group-item-success a {
  color: #563; }
.list-group-item-success hr {
  border-top: 1px solid rgba(150, 170, 60, 0.6); }

li.list-group-item.list-group-item-danger {
  border-bottom: 1px solid rgba(169, 38, 66, 0.4);
  border-top: 1px solid rgba(169, 38, 66, 0.4);
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px; }

.list-group-item-danger a {
  color: #a94442; }
.list-group-item-danger hr {
  border-top: 1px solid rgba(169, 38, 66, 0.4); }

li.list-group-item.list-group-item-info {
  border-bottom: 1px solid rgba(49, 112, 143, 0.6);
  border-top: 1px solid rgba(49, 112, 143, 0.6);
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px; }

.list-group-item-info a {
  color: #31708f; }
.list-group-item-info hr {
  border-top: 1px solid rgba(49, 112, 143, 0.6); }

.default-box {
  color: #000;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 15px 0px 0px 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1); }

.succeed {
  color: #257F2C; }
  .succeed:hover {
    color: #134016; }

.delete {
  color: #a94442; }
  .delete:hover {
    color: #732E2D; }

.proceed {
  color: #C77A00; }
  .proceed:hover {
    color: #7D4C00; }

#negotiation-buttons {
  width: 300px; }
  #negotiation-buttons span {
    font-size: 1.5em; }

@media screen and (max-width: 767px) {
  #negotiation-buttons {
    width: 230px; } }
#find {
  cursor: pointer; }

#order-summary-list a {
  color: #000; }

/*# sourceMappingURL=batteries-app.css.map */
