body {
	font-family: 'Ubuntu', sans-serif;
	background-image: url('/images/batteries.jpg');
	color: #000;
	margin-bottom: 30px;
}

.top-buffer {
	margin-top: 20px;
}

.text-center {
	text-align: center;
}

#content {
	position: relative;
	top: 70px;
	margin-top: 30px;
}

#notice {
	position: absolute;	
}

@media screen and (max-width: 767px) {
	#notice {
		width: 50%;
	}
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: 1px solid #333;
}

.table > thead > tr > th {
	border-bottom: 2px solid #333;
}

.container-default {
	background-color: rgba(210,210,210,0.55);
	border-radius: 5px;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
}

#main-tabs {
	border-bottom: none;
}

@media screen and (max-width: 767px) {
	.table-responsive {
		border: none;
		overflow: scroll;
		overflow: auto;
	}
}

.extra-padding {
	padding: 40px;
}

.tooltip {
	width: 110px;
}

#catalog a, #shopping-cart a {
	color: #000;
}

.delete {
	color: #a94442;
}

.modify-cart-amount {
	border: 1px solid transparent;
	background-color: transparent;
	padding: 0px 4px; 
}

.top-void {
	padding-top: 10px;
}